.Home {
    text-align: center;
  }
  
  
  .Home-header {
    background-color: #b9e5ee;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #21243D;
  }
  
  .Home-header code {
    font-size: calc(9px + 2vmin);
    color: #21243D;
  }
  
  .Home-header p {
    font-size: calc(16px + 2vmin);
    font-family: 'Acme', sans-serif;
    margin: 0;
    letter-spacing: 2px;
  }
  
  .image-perfil img {
    display: block;
    height: 110px;
    width: 110px;
    object-fit: cover;
    object-position: 55%;
    border-radius: 50%;
    margin-bottom: 40px;
  }
 
  .darkTheme {
    background-color: #21243D ;
  }