.sobre {
    background-color: #FEF6C9;
    min-height: 50vh;
}
.sobre h1 {
    font-size: calc(16px + 2vmin);
    font-family: 'Acme', sans-serif;
    margin: 0;
    padding: 30px;
    
    letter-spacing: 2px;
  }

  .sobre p {
    margin: 0;
    padding: 30px;
  }
 