  .social-media {
    margin-top: 30px;
    border: 0;
  }
  
  .icons {
    color: #21243D;
  }
  
  .social-media a {
    margin: 10px;
    
    height: 30px;
    width: 30px;
  }
  
  .linkedin:hover {
    color: #0072b1;
    background-color: white;
    box-shadow: inset 0px 0px 0px 2px #b9e5ee;
    border-radius: 25%;
  }
  .github:hover {
    background-color: #000000;
    border-radius: 50%;
    color: rgb(185, 229, 238);
    
  }
  
  .instagram {
    font-size: 1.1em;
    margin-bottom: -1px;
  }
  .instagram:hover {
    box-shadow: inset 0 0 0 1px #b9e5ee;
    border-radius: 30%;
    color: white;
      -webkit-text-fill-color: transparent;
    background-size: 10%;
    background: linear-gradient(70deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 52%, rgba(252,176,69,1) 100%);
  }
  