.experiencia {
    background-color: #70848d;
    min-height: 50vh;
}
.experiencia h1 {
    font-size: calc(16px + 2vmin);
    font-family: 'Acme', sans-serif;
    margin: 0;
    padding: 30px;
    
    letter-spacing: 2px;
  }
 