.App {
  text-align: center;
}


.App-header {
  background-color: #b9e5ee;;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #21243D;
}

.App-header code {
  font-size: calc(7px + 2vmin);
  color: #21243D;
}

.App-header p {
  font-size: calc(16px + 2vmin);
  font-family: 'Acme', sans-serif;
  margin: 0;
  letter-spacing: 2px;
}

.image-perfil img {
  display: block;
  height: 110px;
  width: 110px;
  object-fit: cover;
  object-position: 55%;
  border-radius: 50%;
  margin-bottom: 40px;
}

.social-media {
  margin-top: 30px;
  border: 0;
}

.icons {
  color: #21243D;
}

.social-media a {
  margin: 10px;
  display: flexbox;
  height: 30px;
  width: 30px;
}

.linkedin:hover {
  color: #0072b1;
}
.github:hover {
  background-color: #000000;
  border-radius: 50%;
  color: rgb(185, 229, 238);
  
}
.instagram:hover {
  border-radius: 25%;
  color: white;
  -webkit-background-clip: icon;
	-webkit-text-fill-color: transparent;
  background: linear-gradient(70deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 52%, rgba(252,176,69,1) 100%);
}




.colors-scale {
 
color: #12C2F8;
color: #71F79F;
color: #DD1C1A;
color: #FFCB47;
color: #3C3C3B;

color: #FEF6C9;
color: #F4D58D;
color: #708D81;

color: #21243D;
color: #FF7C7C;
color: #FFD082;
color: #88E1F2;

color: #222831;
color: #393E46;
color: #FFD369;
color: #EEEEEE;
}