.App {
  text-align: center;
}


.App-header {
  background-color: #b9e5ee;;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #21243D;
}

.App-header code {
  font-size: 2vmin;
  color: #21243D;
}

.App-header p {
  margin: 0;
}

.image-perfil img {
  display: block;
  height: 110px;
  width: 110px;
  object-fit: cover;
  object-position: 55%;
  border-radius: 50%;
  margin-bottom: 40px;
}

.social-media {
  margin-top: 30px;
  border: 0;
}

.icons {
  padding: 10px;
  color: #21243D;
}

.social-media a {
  height: 30px;
  width: 30px;
}





.colors-scale {
 
color: #12C2F8;
color: #71F79F;
color: #DD1C1A;
color: #FFCB47;
color: #3C3C3B;

color: #FEF6C9;
color: #F4D58D;
color: #708D81;

color: #21243D;
color: #FF7C7C;
color: #FFD082;
color: #88E1F2;

color: #222831;
color: #393E46;
color: #FFD369;
color: #EEEEEE;
}